<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="title">
        <a href="/" class="nodeco"><h1>Harry Styles</h1></a>
    </div>
    <div id="links">
        <a href="/about" class="link-btn"><h2>About</h2></a>
        <a href="/works" class="link-btn"><h2>Works</h2></a>
        <a href="/gallery" class="link-btn"><h2>Gallery</h2></a>
    </div>
     <div id="content">
        <div class="album">
            <h2>Fine Line</h2>
            <h3>2019</h3>
            <img src="/images/fine_line.jpeg" alt="">
        </div>
        <div class="album">
            <h2>Harry Styles</h2>
            <h3>2017</h3>
            <img src="/images/harry_styles.png" alt="">
        </div>
        <div class="album">
            <h2>Up All Night</h2>
            <h3>2011</h3>
            <img src="/images/upallnight.jpeg" alt="">
        </div>
        <div class="album">
            <h2>Take Me Home</h2>
            <h3>2011</h3>
            <img src="/images/takemehome.png" alt="">
        </div>
        <div class="album">
            <h2>Midnight Memories</h2>
            <h3>2011</h3>
            <img src="/images/midnightmemories.png" alt="">
        </div>
    </div>
</body>
</html>